name: Reel Bot
on:
  schedule:
    - cron: '0 * * * *'  # every hour
  workflow_dispatch:

jobs:
  post:
    runs-on: ubuntu-latest
    steps:
      - name: Wait small random offset
        run: |
          OFFSET=$(( RANDOM % 10 ))  # 0-9 minutes
          echo "Waiting $OFFSET minutes before running..."
          sleep $(( OFFSET * 60 ))

      - name: Run Reel Bot
        env:
          INSTA_TOKEN: ${{ secrets.INSTA_TOKEN }}
          PHP_ENDPOINT: "https://eaglehoster1.serv00.net/filee/file_manager.php"
        run: node post_reel.js
