name: Reel Bot
on:
  workflow_dispatch:   # manual trigger
  schedule:
    - cron: '0 * * * *'   # every hour

jobs:
  post:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4   # Only pull post_reel.js
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Wait small random offset
        run: |
          OFFSET=$(( RANDOM % 10 ))  # 0-9 minutes
          echo "Waiting $OFFSET minutes before running..."
          sleep $(( OFFSET * 60 ))
      - name: Run Reel Bot
        env:
          INSTA_TOKEN: ${{ secrets.INSTA_TOKEN }}
          PHP_ENDPOINT: "https://eaglehoster1.serv00.net/filee/file_manager.php"
        run: node post_reel.js
